h4 {
  color: whitesmoke;
}

.shapeCell {
  width: 12px;
  height: 12px;
}

.white {
  background-color: #515151;
}

.grey {
  background-color: lightgrey;
}

.shape {
  margin: 10px;
  /* padding: 10px; */
  display: inline-block;
  border: 1px solid grey;
}

/* .selected-shape { */
  /* margin: 10px;
  display: inline-block; */
  /* border: 5px solid #6eff00;
} */

.green-theme-border {
  border: 5px solid #6eff00;
}

.pink-theme-border {
  border: 5px solid #ff38d7;
}

.orange-theme-border {
  border: 5px solid #ff7f00;
}

.yellow-theme-border {
  border: 5px solid #faff00;
}
