.shapeCell {
  width: 20px;
  height: 20px;
}

.white {
  background-color: #515151;
}

.grey {
  background-color: lightgrey;
}

.shape {
  margin: 10px;
  display: inline-block;
  border: 1px solid grey;
}
