#menu-container {
  width: 100%;
  height: 100px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #515151;
}

.menu-child {
  /* width: 450px; */
}

#button-container {
  width: 100px;
  display: flex;
  flex-direction: row;
}

.play-pause {
  width: 75px;
  height: 75px;
  /* fill: #6eff00; */
}

/* #stateButton, #nextButton {
  margin-left: -40px;
  width: 80px;
  height: 25px;
} */
