/* #play-button {
  width: 75px;
  height: 75px;
  fill: #6eff00;
} */

.play-pause {
  width: 75px;
  height: 75px;
  fill: #6eff00;
}

#board {
  margin: auto;
}

.button {
 margin-left: 50%;
}

#stateButton, #nextButton {
  margin-left: -40px;
  width: 80px;
  height: 25px;
}

.cell {
  width: 30px;
  height: 30px;
}

.white {
  background-color: #515151;
}

.black {
  background-color: #6eff00;
}

.grey {
  background-color: lightgrey;
}

.selected {
  border: 1px solid black;
}
