<table id="board">
  <tr *ngFor="let currentRow of board">
    <td [class]="cellClass(currentCell)" *ngFor="let currentCell of currentRow" (click)="clickCell(currentCell)">
    </td>
  </tr>
</table>

<br>
<div class="button" (click)="togglePlay()">
  <svg class="board-buttons" id="play-button" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.95 107.72">
    <title>Play Button</title>
    <path d="M27,74.5c0-14-.05-28,0-42,0-9.87,7.28-14.26,15.82-9.39q36.88,21,73.57,42.43c8.74,5.1,8.66,13.78,0,18.83q-36.49,21.22-73.1,42.24c-9.11,5.22-16.23.92-16.27-9.66C27,102.82,27,88.66,27,74.5Z" transform="translate(-27.03 -21.14)"/>
  </svg>

</div>
<div class="button">
  <button id="nextButton" (click)="nextState()">Next</button>
</div>
<h4>Selected shape in board: {{selectedShape}}</h4>
<h4>Play State: {{isPlaying}}</h4>
<app-library></app-library>
